h1 {
    text-align: center;
}

.grid_container {
    border: 1px solid blue;
    min-width: 500px;
    width: 500px;
    min-height: 500px;
    height: 100%;
    margin: 25px auto;
}

.resize_container {
    text-align: center;
}