body {
    background-color: rgba(185, 149, 82, 0.432);
}

#header {
    display: flex;
}

h1 {
    text-align: center;
    padding: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex: 2.5;
}

#explore {
    display: flex;
    align-items: center;
}

a {
    padding: 15px;
}

.page_container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.toolbar_container {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 20px;
    border:8px outset #999;
}

.toolbar_container * {
    margin-bottom: 25px;
}

.color_chooser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#html5colorpicker:hover {
    cursor: pointer;
}

.toolbar_button {
    padding: 15px;
    border-radius: 10px;
}

.grid_container {
    border: 3px solid rgb(0, 0, 0);
    min-width: 875px;
    width: 875px;
    min-height: 500px;
    height: 100%;
    background-color: white;
}

.grid_container:hover {
    cursor: crosshair;
}

.resize_container {
    text-align: center;
    margin: 25px;
}

.footer {
    margin: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}